@import "../../../partials/_variables.scss";
@import "../../../partials/_mixins.scss";

.preloader-container {
    width: 100%;
    min-height: cRems(200px);
    display: flex;
    justify-content: center;
    align-items: center;
}