@import "../../../partials/_variables.scss";
@import "../../../partials/_mixins.scss";   

.row-item    {
    display: flex;
    padding-top: cRems(14px);
    padding-bottom: cRems(7px);
    
    > div {
        flex: 1;
    }

    .col-right {
        justify-content: flex-end;
        text-align: right;
    }

    .col-center {
        justify-content: center;
        text-align: center;
    }

    div:first-of-type {
        padding-left: cRems(13px);
    }

    .lead-name {
        flex: 1.2;
    }

    .sales-rep {
        font-weight: bold;
        flex: 1.6;
    }

    .delete {
        flex: 0.5;
    }

    .btn-delete-x {
        width: cRems(15px);
        cursor: pointer;
    }

    div:first-of-type {
        color: $colorMedBlue;
    }
}