<div class="theme--cutom-blue">
  <ul class="breadcrumbs">
    <!-- Accounts -->
    <li class="breadcrumbs__item">
      <a 
        class="breadcrumbs__link" 
        href="#">
        Accounts
      </a>
    </li>
    <!-- Sales leads -->
    <li class="breadcrumbs__item">
      <a 
        class="breadcrumbs__link" 
        href="#"
        (click)="!salesLeadsClick()"
        *ngIf="!listSelected">
        Sales leads
      </a>
      <span 
        class="breadcrumbs__last"
        *ngIf="listSelected">
        Sales leads
      </span>
    </li>
    <!-- Add sales lead -->
    <li 
      class="breadcrumbs__item"
      *ngIf="!listSelected">
      <span 
        class="breadcrumbs__last">
        Add sales lead
      </span>
    </li>
  </ul>
</div>