<div class="accounts-panel">
  <nav class="sidebar hide-sm">
    <h2>Accounts</h2>
    <!-- Sales leads -->
    <a href="#noop" class="sidebar__item is-active">
      <span class="sidebar__headline">Sales leads</span>
      <span class="sidebar__info">Review and create new leads</span>
    </a>
    <!-- Contacts -->
    <a href="#noop" class="sidebar__item">
      <span class="sidebar__headline">Contacts</span>
      <span class="sidebar__info">View all contacts</span>
    </a>
    <!-- Calendar -->
    <a href="#noop" class="sidebar__item">
      <span class="sidebar__headline">Calendar</span>
      <span class="sidebar__info">Sales lead calendar and schedule</span>
    </a>
    <!-- Reports -->
    <a href="#noop" class="sidebar__item">
      <span class="sidebar__headline">Reports</span>
      <span class="sidebar__info">Review and export custom reports</span>
    </a>
  </nav>
</div>