@import "../../../partials/_variables.scss";
@import "../../../partials/_mixins.scss";

.sales-leads-panel {
  background: $colorWhite;
  padding-top: cRems(20px);
  padding-right: cRems(20px);
  padding-bottom: cRems(20px);
  padding-left: cRems(20px);
  border-radius: 3px;
  min-height: cRems(450px);
  font-size: cRems(14px);

  h2 {
    font-size: cRems(28px);
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: cRems(7px);
  }

  .btn-add-lead {
    display: block;
    margin-top: cRems(30px);
    margin-left: auto;
  }

  .sales-leads-list {
    margin-top: cRems(30px);
  }

  .down-arrow-icon {
    width: cRems(5.6px);
    margin-left: cRems(5px);
  }

  tbody {
    .lead-name-col {
      color: $colorMedBlue;
    }
  }

  .sales-rep-col {
    font-weight: bold;
  }

  .delete-col {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include breakpointUp(920px) {
      justify-content: center;
    }
    
    .btn-delete {
      width: cRems(15px);
      cursor: pointer;
    }
  }

  .value-col, .date-col {
    @include breakpointUp(920px) {
      text-align: right;
    }
  }

  .table th:before, .table thead th:before, .table thead td:before,
  .table th:after, .table thead th:after, .table thead td:after {
    content: none;
  }

  .table th {
    padding-bottom: 8px;
    border-bottom: 1px solid $colorMedGrey;
  }

  /////

  .column-titles    {
    display: flex;
    
    > div {
      flex: 1;
    }

    .col-right {
      justify-content: flex-end;
      text-align: right;
    }

    .col-center {
      justify-content: center;
      text-align: center;
    }

    div:first-of-type {
      padding-left: cRems(13px);
    }

    .lead-name {
      flex: 1.2;
    }

    .sales-rep {
      font-weight: bold;
      flex: 1.6;
    }

    .delete {
      flex: 0.5;
    }
  }



  .column-titles {
    line-height: 0.6;
    margin-bottom: cRems(8px);
    font-size: cRems(12px);
    color: $colorMedBlack;
    
    .column-title {
      display: flex;
      align-items: flex-end;

      .down-arrow-icon {
        width: cRems(5.6px);
        margin-left: cRems(5px);
      }

      .line-icon {
        width: 80px;
      }
    }

    .flex-space-col {
    }
  }

  .form-btn-container {
    display: flex;
    margin-left: auto;
  }

  app-sales-leads-item:nth-child(odd) {
    display: block;
    background-color: $colorLighterGrey;
  } 
}