@import "../../../partials/_variables.scss";
@import "../../../partials/_mixins.scss";

.sales-leads-panel {
  background: $colorWhite;
  padding-top: cRems(19px);
  padding-right: cRems(20px);
  padding-bottom: cRems(20px);
  padding-left: cRems(17px);
  border-radius: 3px;
  min-height: cRems(950px);
  font-size: cRems(14px);
}