<div>
    <app-top-bar></app-top-bar>
    <!-- Breadcrumbs -->
    <div class="theme--blue">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#noop">Home</a>
                </li>
                <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#noop">Ruxit API v1 documentation (Beta)</a>
                </li>
                <li class="breadcrumbs__item">
                <span class="breadcrumbs__last">General Information</span>
                </li>
            </ul>
        </div>
    
        <!-- Left Side Bar -->
        <nav class="sidebar">
            <a href="#noop" class="sidebar__item is-current">
                <span class="sidebar__headline">General</span>
                <span class="sidebar__info">See your Application setup</span>
            </a>
            <a href="#noop" class="sidebar__item">
                <span class="sidebar__headline">User actions</span>
                <span class="sidebar__info">See your application setup</span>
            </a>
        </nav>
        
</div>