$colorBlack: #000000;
$colorWhite: #ffffff;
$colorGrey: #454646;
$colorMedGrey: #E6E6E6;
$colorDarkGrey: #191919;
$colorLightBlue: #14A8F5;
$colorMedBlue: #00A1B2;
$colorDarkBlue: #008CDB;

$base_font_size: 16px;
$large: 768px;
$medium: (($base_font_size/$large)*100) + vw;