@import "../../../partials/_variables.scss";
@import "../../../partials/_mixins.scss";

.sales-leads-list {
  margin-top: cRems(30px);
}

h2 {
  font-size: cRems(28px);
  font-weight: 600;
  margin-bottom: 0;
  padding-bottom: cRems(3px);
}

.btn-add-lead {
  display: block;
  margin-top: cRems(30px);
  margin-left: auto;
}

.down-arrow-icon {
  width: cRems(5.6px);
  margin-left: cRems(5px);
}

.table th:before, .table thead th:before, .table thead td:before,
.table th:after, .table thead th:after, .table thead td:after {
  content: none;
}

.table th {
  padding-bottom: 8px;
  border-bottom: 1px solid $colorMedGrey;
}

tbody {
  .lead-name-col {
    color: $colorMedBlue;
  }
}

.sales-rep-col {
  font-weight: bold;
}

.delete-col {
  text-align: left;

  @include breakpointUp(920px) {
    text-align: center;
  }

  td {
    padding-top: cRems(14px);
  }
  
  .btn-delete {
    width: cRems(15px);
    cursor: pointer;
  }
}

.value-col, .date-col {
  @include breakpointUp(920px) {
    text-align: right;
  }
}

.btn-show-more {
  text-align: center;

  fa {
    display: block;
    color: $colorMedBlue;
    font-size: cRems(28px);
    font-weight: bold;
    line-height: 1;
  }
}

.no-results {
  width: 100%;
  min-height: cRems(200px);
  display: flex;
  justify-content: center;
  align-items: center;
}