<div class="accounts-panel">
    <h2>Accounts</h2>

    <nav class="sidebar">
        <a href="#noop" class="sidebar__item is-current">
            <span class="sidebar__headline">Sales leads</span>
            <span class="sidebar__info">Review and create new leads</span>
        </a>
        <a href="#noop" class="sidebar__item">
            <span class="sidebar__headline">Contacts</span>
            <span class="sidebar__info">View all contacts</span>
        </a>
        <a href="#noop" class="sidebar__item">
            <span class="sidebar__headline">Calendar</span>
            <span class="sidebar__info">Sales lead calendar and schedule</span>
        </a>
        <a href="#noop" class="sidebar__item">
            <span class="sidebar__headline">Reports</span>
            <span class="sidebar__info">Review and export custom reports</span>
        </a>
    </nav>
</div>