/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@dynatrace/groundhog/dist/css/main.css";
@import "partials/_variables.scss";
@import "partials/_mixins.scss";

body {
    background: $colorBlack;
}

.panels-container {
    background: $colorLightGrey;
    display: flex;
}