<div>
  <h2>Add sales lead</h2>
  <span class="instructions">Enter sales lead information below.</span>

  <!-- Sales leads form -->
  <form class="sales-leads-form-container"
        [formGroup]="registerForm" 
        (ngSubmit)="onSubmit()">
    
    <!-- Lead name -->
    <!-- NOTE: submitAttempted && f.[INPUT NAME].errors because label would be get is-invalid and turn red without both checks -->
    <div class="input-container">
      <label 
        for="i0" 
        class="label"
        [ngClass]="{ 'is-invalid': submitAttempted && f.leadName.errors }">
        Lead name
      </label>
      <input 
        formControlName="leadName" 
        type="text" 
        class="inputfield form-control" 
        id="i0"
        [ngClass]="{ 'is-invalid': submitAttempted && f.leadName.errors }"/>

      <!-- Error message -->
      <div *ngIf="submitAttempted && f.leadName.errors" class="invalid-feedback">
        <!-- Blank input -->
        <div *ngIf="f.leadName.errors.required">
          Full Name is required
        </div>
      </div>
    </div>

    <!-- Sales rep -->
    <div class="input-container">
      <label 
        for="i1" 
        class="label"
        [ngClass]="{ 'is-invalid': submitAttempted && f.salesRep.errors }">
        Sales Representative
      </label>
      <input 
        formControlName="salesRep" 
        type="text" 
        class="inputfield form-control" 
        id="i1"
        [ngClass]="{ 'is-invalid': submitAttempted && f.salesRep.errors }"/>

      <!-- Error message -->
      <div *ngIf="submitAttempted && f.salesRep.errors" class="invalid-feedback">
        <!-- Blank input -->
        <div *ngIf="f.salesRep.errors.required">
          Sales representative is required
        </div>
      </div>
    </div>

    <!-- Client -->
    <div class="input-container">
      <label 
        for="i2" 
        class="label"
        [ngClass]="{ 'is-invalid': submitAttempted && f.clientName.errors }">
        Client
      </label>
      <input 
        formControlName="clientName" 
        type="text" 
        class="inputfield form-control" 
        id="i2"
        [ngClass]="{ 'is-invalid': submitAttempted && f.clientName.errors }"/>

      <!-- Error message -->
      <div *ngIf="submitAttempted && f.clientName.errors" class="invalid-feedback">
        <!-- Blank input -->
        <div *ngIf="f.clientName.errors.required">
          Client is required
        </div>
      </div>
    </div>

    <!-- Lead amount -->
    <div class="input-container">
      <label 
        for="i3" 
        class="label"
        [ngClass]="{ 'is-invalid': submitAttempted && f.leadAmount.errors }">
        Value
      </label>
      <input 
        formControlName="leadAmount" 
        type="number" 
        class="inputfield form-control" 
        id="i3"
        [ngClass]="{ 'is-invalid': submitAttempted && f.leadAmount.errors }"/>
      
      <!-- Error message -->
      <div *ngIf="submitAttempted && f.leadAmount.errors" class="invalid-feedback">
        <!-- Blank input -->
        <div *ngIf="f.leadAmount.errors.required">
          Value is required
        </div>
      </div>
    </div>

    <!-- Lead date -->
    <div class="input-container">
      <label 
        for="i4" 
        class="label"
        [ngClass]="{ 'is-invalid': submitAttempted && f.leadDate.errors }">
        Date
      </label>
      <input 
        formControlName="leadDate" 
        type="text" 
        class="inputfield form-control" 
        id="i4"
        [ngClass]="{ 'is-invalid': submitAttempted && f.leadDate.errors }"/>

      <!-- Error message -->
      <div *ngIf="submitAttempted && f.leadDate.errors" class="invalid-feedback">
        <!-- Blank input -->
        <div *ngIf="f.leadDate.errors.required">
          Date is required
        </div>
        <!-- Filled input but date was not ISO -->
        <div *ngIf="f.leadDate.errors.pattern">
          Date is not ISO (ex: 2019-05-10T16:32:57.000Z)
        </div>
      </div>
    </div>

    <!-- Form buttons -->
    <div class="form-btn-container">
      <!-- Cancel -->
      <button 
        [disabled]="submitInProgress"
        role="button" 
        type="reset" 
        class="btn btn--secondary btn-cancel"
        (click)="onCancel()">Cancel</button>     
      <!-- Save -->
      <button
        [disabled]="submitInProgress"
        role="button" 
        type="submit" 
        class="btn btn--primary btn-submit">Save</button>
    </div>
  </form>
</div>