@import "../../../partials/_variables.scss";
@import "../../../partials/_mixins.scss";

h2 {
  font-size: cRems(28px);
  font-weight: 600;
  margin-bottom: 0;
  padding-bottom: cRems(3px);
}

.instructions {
  margin-bottom: cRems(25px);
  display: block;
}

.sales-leads-form-container {
  max-width: cRems(500px);

  .input-container {
    margin-bottom: cRems(12px);
  }

  label {
    padding-bottom: cRems(2px);
  }

  input {
    margin-bottom: cRems(4px);

    &.is-invalid {
      border-color: $colorRed;
    }
  }

  .is-invalid, 
  .invalid-feedback {
    color: $colorRed;
  }

  .invalid-feedback {
    font-size: cRems(10px);
  }
}

.form-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: cRems(20px);
  margin-left: auto;

  .btn-cancel {
    margin-right: cRems(7px);
  }
}