<form class="sales-leads-form-container"
      [formGroup]="registerForm" 
      (ngSubmit)="onSubmit()">
  
  <!-- Lead name -->
  <div class="input-container">
    <label 
      for="i0" 
      class="label"
      [ngClass]="{ 'is-invalid': submitted && f.leadName.errors }">
      Lead name
    </label>
    <input 
      formControlName="leadName" 
      type="text" 
      class="inputfield form-control" 
      id="i0"
      [ngClass]="{ 'is-invalid': submitted && f.leadName.errors }"/>

    <!-- Error message -->
    <div *ngIf="submitted && f.leadName.errors" class="invalid-feedback">
      <div *ngIf="f.leadName.errors.required">
        Full Name is required
      </div>
    </div>
  </div>

  <!-- Sales rep -->
  <div class="input-container">
    <label 
      for="i1" 
      class="label"
      [ngClass]="{ 'is-invalid': submitted && f.salesRepresentative.errors }">
      Sales Representative
    </label>
    <input 
      formControlName="salesRep" 
      type="text" 
      class="inputfield form-control" 
      id="i1"
      [ngClass]="{ 'is-invalid': submitted && f.salesRepresentative.errors }"/>

    <!-- Error message -->
    <div *ngIf="submitted && f.salesRepresentative.errors" class="invalid-feedback">
      <div *ngIf="f.salesRepresentative.errors.required">
        Sales representative is required
      </div>
    </div>
  </div>

  <!-- Client -->
  <div class="input-container">
    <label 
      for="i2" 
      class="label"
      [ngClass]="{ 'is-invalid': submitted && f.client.errors }">
      Client
    </label>
    <input 
      formControlName="clientName" 
      type="text" 
      class="inputfield form-control" 
      id="i2"
      [ngClass]="{ 'is-invalid': submitted && f.client.errors }"/>

    <!-- Error message -->
    <div *ngIf="submitted && f.client.errors" class="invalid-feedback">
      <div *ngIf="f.client.errors.required">
        Client is required
      </div>
    </div>
  </div>

  <div class="input-container">
    <label 
      for="i3" 
      class="label"
      [ngClass]="{ 'is-invalid': submitted && f.value.errors }">
      Value
    </label>
    <input 
      formControlName="leadAmount" 
      type="text" 
      class="inputfield form-control" 
      id="i3"
      [ngClass]="{ 'is-invalid': submitted && f.value.errors }"/>
    
    <!-- Error message -->
    <div *ngIf="submitted && f.value.errors" class="invalid-feedback">
      <div *ngIf="f.value.errors.required">
        Value is required
      </div>
    </div>
  </div>

  <div class="input-container">
    <label 
      for="i4" 
      class="label"
      [ngClass]="{ 'is-invalid': submitted && f.date.errors }">
      Date
    </label>
    <input 
      formControlName="leadDate" 
      type="text" 
      class="inputfield form-control" 
      id="i4"
      [ngClass]="{ 'is-invalid': submitted && f.date.errors }"/>

    <!-- Error message -->
    <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
      <div *ngIf="f.date.errors.required">
        Date is required
      </div>
    </div>
  </div>

  <div class="form-btn-container">
    <button 
      role="button" 
      type="reset" 
      class="btn btn--secondary btn-cancel"
      (click)="onReset()">Cancel</button>       
    <button 
      role="button" 
      type="submit" 
      class="btn btn--primary btn-submit">Save</button>
  </div>
</form>